button{
	cursor: pointer;
}

.notif_window{
	position: fixed;
    margin: auto;
    width: 20%;
    text-align: center;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 40px 20px;
    font-size: 1.3em;
    top:50%;
    left:50%;
    margin-left:calc(-10% - 20px);
    margin-top:calc(-40px);
    z-index: 10000;
    display: block;
}

.notif_window0{
	opacity: 0;
	display: none;
}

.notif_window1{
	animation-name: fadeOutOpacity-1;
	-webkit-animation-name: fadeOutOpacity-1;
	-webkit-animation-duration: 3s;animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;
}

.notif_window2{
	animation-name: fadeOutOpacity-2;
	-webkit-animation-name: fadeOutOpacity-2;
	-webkit-animation-duration: 3s;animation-duration: 3s;
	-webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@keyframes fadeOutOpacity-1 {
	0% {
		display: inline-block;
		opacity: 1;
		z-index: 10000;
	}
	100% {
		display: none;
		opacity: 0;
		z-index: -1;
	}
}

@-webkit-keyframes fadeOutOpacity-1 {
    0% {
		display: inline-block;
		opacity: 1;
		z-index: 10000;
	}
	100% {
		display: none;
		opacity: 0;
		z-index: -1;
	}
}

@keyframes fadeOutOpacity-2 {
	0% {
		display: inline-block;
		opacity: 1;
		z-index: 10000;
	}
	100% {
		display: none;
		opacity: 0;
		z-index: -1;
	}
}

@-webkit-keyframes fadeOutOpacity-2 {
    0% {
		display: inline-block;
		opacity: 1;
		z-index: 10000;
	}
	100% {
		display: none;
		opacity: 0;
		z-index: -1;
	}
}

.notif_checked{
	width: 1em;
	height: 1em;
	margin-right:10px;
}

.park_wrapper{
	margin:auto;
	margin-top:50px;
	margin-bottom: 50px;
	width: 70%;
	display: flex;
	flex-direction: column;
}

.alerts_wrapper{
	margin-top:40px;
	width:100%;
	display: flex;
	flex-direction: column;
	margin: auto;
}
.park_banner{
	width: 100%;
	height:450px;
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	background-position: center;
}
.park_banner h1{
	margin: 0;
	margin:auto;
	text-shadow: 2px 0px 1px #aaa;
}

.alert_line{
	display: flex;
	align-items: center;
	width: calc(100% - 20px);
	margin-top:5px;
	padding: 10px;
	border:1px solid #ccc;
	/*background: #f5f5dc;*/
	border-radius: 3px;
	box-shadow: 0px 0px 0px 0px #aaa;
	color: #555;
}

.alert_line img{
	height:30px;
}

.alert_p{
	padding-left:10px;
}

.alert{
	margin:0;
	display: inline-block;
	font-family: 'Lato', sans-serif;
}

.alert_title{
	font-weight: 900;
	margin-right:0.5em;
}

.alert_desc{
	font-weight: lighter;
}

.park_content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top:20px;
}
.park_left{
	flex-basis:76%;
}

.park_right{
	flex-basis:22%;
	padding:5px;
}

.park_user_area{
	text-align: center;
	display: flex;
	flex-direction: column;
}

.park_user_area button{
	width: 100%;
	padding:10px 0px;
	border-radius: 5px;
	font-size: 1em;
	outline:none;
	font-weight: 900;
}

.park_user_area button:last-child{
	margin-top:10px;
}

.park_user_area .login_notif{
	margin-top: 10px;
	font-weight: lighter;
	width: calc(100% - 12px);
	border-radius: 5px;
	border:1px solid #ff9900;
	padding:5px;
	background: #ffe0b3;
	position: relative;
	justify-content: space-around;
	display: none;
}

.login_notif p{
	margin: 0;
	flex-basis: 90%;
}

.park_user_area a{
	color:#ff9900;
}

.park_user_area b{

	flex-basis: 10%;
	cursor: pointer;
}

.park_fav_btn{
	color: #ec5f5f;
	border:1px solid #ccc;
	background: white;
}

.park_fav_btn:hover, .park_fav_btn:focus, .park_fav_btn:active{
	color:white;
	border-color: #ec5f5f;
	background: #ec5f5f;
}

.park_review_btn{
	color: white;
	border:1px solid #66ccff;
	background: #66ccff;
}

.park_review_btn:hover, .park_review_btn:focus, .park_review_btn:active{
	color:white;
	border-color: #00cc66;
	background: #00cc66;
}

.park_content_nav{
	display: flex;
	box-shadow: 0px 0px 5px 0px #777;
}

.content_option{
	text-align: center;
	padding:15px 0px;
	width: 25%;
	font-size: 1.3em;
	font-weight: 900;
	color: white;
	transition: 0.4s all;
	position: relative;
	cursor: pointer;
}

.content_option:hover, .content_option:active, .content_option:focus{
	background: #0d3752;
}

.menu_pointer{
	content:'';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #0d3752;
	position: absolute;
	transform: rotateX(180deg);
	bottom: -6px;
	left: calc(50% - 6px);
	/*display: none;*/
}

.link_area{
	display: flex;
	flex-direction: column;
}

.link_area a{
	width: 100%;
	margin-top:10px;
	background: #0d3752;
	color: #aaff00;
	border-radius: 5px;
	text-align: center;
	padding: 10px 0px;
	font-weight: 900;
}

.link_area a:hover{
	color:yellow;
}

.ranking_board{
	text-align: center;
    border-radius: 20px;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    border: 1px solid #ccc;
    padding: 15px;
    margin: auto;
    margin-bottom: 10px;
}

.ranking_board:hover{
	background: #0d3752;
	color: yellow;
}

.ranking_board:hover h1{
	color: yellow;
}

.ranking_board h1{
	font-weight: lighter;
	font-size:3em;
	display: inline-block;
	margin: 0;
	line-height: 1.5em;
	color: #0d3752;
	border-radius: 100%;
}

.name_board{
	text-align: center;
	/*font-style: italic;*/
	font-weight: lighter;
}

.states_board{
	display: flex;
	justify-content: space-around;
}

.states_board a{
	padding:5px 0px;
	flex-basis: 30%;
	border-radius: 300px;
	background: #0d3752;
}

.states_board a:hover{
	color: yellow;
}

.name_board h4{
	font-family: 'Lobster', cursive;
	margin:10px 0px;
	font-size:2em;
	color:#0d3752;
	font-weight: lighter;
}


