body{
	margin: 0;
	font-family: 'Lato', sans-serif;
	outline: none;
}

a{
	text-decoration: none;
	color: white;
}

.nav{
	display: flex;
	background: black;
	height:50px;
	position: relative;
	color:white;
	padding: 10px;
	/*justify-content: center;*/
	/*flex-direction:column;*/
	/*overflow: auto;*/
}

.logo{
	/*position: absolute;*/
	margin-left:5%;
	height:100%;
}
.logo img{
	height: 100%;
}

.name{

	vertical-align: middle;display: inline;
	
}

h3{
	/*position: absolute;*/
	display: flex;
	align-items: center;
	margin-left:2%;
}
.nav .btn{
	position: relative;
	z-index: 2;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	right:5%;
	height:100%;
	border:none;
	/*width: 80px;*/
	padding:0px 1em;
	background: transparent;
	transition: 0.5s all;
	font-size: 1em;
	border-radius: 3000px;
	margin-left: auto;
}
.btn{
	outline: none;
	background: transparent;
	cursor: pointer;
	transition: 0.5s all;
	border-radius: 5px;
	color: white;
}
.nav .btn:hover{
	background: linear-gradient(30deg, #333, #111);
}

.bng{
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	/*padding:calc(50vh - 30px) 50vw;*/

	height:calc(100vh - 60px);
	width: 100vw;
	position: relative;
}

.bng::after{
	z-index: 1;
	content: "";
	top: 0;
    left: 0;
    height: calc(100vh - 70px);
    width: 100%;
    position: absolute;
    background: rgba(66,66,66,0.3);
}

.avantar_wrapper{
	/*height: 100%;*/
	position: relative;
	display: none;
	margin-left: auto;
	right:100px;
	width: 50px;
	height: 100%;
	border:2px solid white;
	border-radius: 100%;
}
.avantar{
	border-radius: 100%;
	object-fit: cover;
}
.nav .avantar{
	position: absolute;
	left:4px;
	top:4px;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
}

.dropdown_div{
	display: none;
	position: absolute;
    top: 74px;
    z-index: 1000;
    right: 87px;
    margin-left: left;
    width: 100px;
    border-radius: 5px;
    /* padding: 10px; */
    text-align: center;
}

.dropdown_box{
	padding: 10px;
	background-color: rgba(0,0,0,0.6);
	transition: 0.3s all; 
	border-bottom:1px solid #ccc;
}

.dropdown_box:hover{
	background-color: #254167;
}

.dropdown_wrapper{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 0px 10px 2px #333;
}
.dropdown_wrapper::before{
	content: "";
	width: 100px;
	height: 4px;
	top:0px;
	left: 0px;
	display: inherit;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.dropdown_wrapper:after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: calc(50% - 6px);
}

.dropdown_box:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 0;
}

.dropdown_box a{
	font-size: 1em;
	color:white;
}