.bng{
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	/*padding:calc(50vh - 30px) 50vw;*/

	height:100vh;
	width: 100vw;
	position: relative;
}

.bng::after{
	z-index: 1;
	content: "";
	top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    background: rgba(66,66,66,0.4);
}

#user_bng{
	background-image: url(glacier_as_index.jpg);
}

.login-board{
	z-index: 100;
	margin: auto;
	position: relative;
	z-index: 100;
	background: inherit;
	top:30vh;
	opacity: 1;
	background: rgba(0, 0, 0, 0.4);
	/*background: linear-gradient(15deg, #355c7d, #6c5b7b, #c06c84);*/
	color: white;
	box-shadow: 0 0 5px 1px rgba(60, 60, 60, 0.7);
	border-radius: 10px;
	transition: 0.5s;
}

.login-wrapper{
    text-align: center;
    padding: 40px 30px;
    margin: auto;
	
}
input{
	left: 0;
}

form{
	width: 80%;
	margin: auto;
}

::placeholder{
	color:#bbb;
	font-weight: lighter;
	font-style: oblique;
	font-size: 0.8em;
}

.form_input{
	background:transparent;
	border:0;
	border-bottom: 1px solid #ccc;
	/*height: 36px;*/
	font-size: 20px;
	height: 100%;
	padding-left: 40px;
	outline: none;
	caret-color:#ccc;
	font-weight: lighter;
	width: calc(100% - 40px);
	padding-bottom: 5px;
	color: white;
}

.form_input:focus{
	box-shadow: 0 4px 5px -4px #ccc;
}

.forget{
	cursor: pointer;
	text-decoration: underline;
	font-size: 0.8em;
	color: #ddd;
}

.input_div{
	position: relative;
	margin-bottom: 20px;
}

.input_icon{
	height: 25px;
	left: 0;
	position: absolute;
}

.submit-btn{
	padding: 10px;
	font-size: 16px;
	border-radius: 0;
	width: 50%;
	font-weight: lighter;
	transition: 0.4s all ease;
	z-index: 1;
	opacity: 1
}

.submit-btn:nth-child(1){
	border-top-left-radius: 20px;
	border-right: 0;
}

.submit-btn:nth-child(2){
	border-bottom-right-radius: 20px;
}

.submit-btn:nth-child(1):hover{
	color: rgba(0, 0, 0, 0.5);
	background-color: white;
}

.submit-btn:nth-child(2):hover{
	color: rgba(0, 0, 0, 0.5);
	background-color: white;
}

p.warning{
	font-size: 0.5em;
	padding: 2px;
	border:1px solid #ddd;
	border-radius: 999px;
}

p.warning:empty{
	display: none;
}
/*react-transition*/
.drop-appear {
  opacity: 0.1;
  top:-100vh;
}

.drop-appear.drop-appear-active {
  transition: all 1.0s ease;
}